name: Build
on: [push, pull_request, workflow_dispatch]

env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: true
  RUSTC_WRAPPER: sccache

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Format Check
        run: cargo fmt --check

      - name: Cargo clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Build
        run: cargo check --all-targets

      - name: Test
        run: cargo test --all-targets