name: Docker Image

on: [push, pull_request, workflow_dispatch]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      # ghcr.io Publishing
      contents: read
      packages: write
      # Attestation
      id-token: write
      attestations: write
      artifact-metadata: write
    strategy:
      fail-fast: true
      matrix:
        type: [release, debug]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Log in to the Container registry
        if: github.event_name == 'workflow_dispatch'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,${{ matrix.type == 'release' && 'latest' || matrix.type }}

      - name: Build and push ${{ matrix.type }} image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          target: runtime-${{ matrix.type }}
          push: ${{ github.event_name == 'workflow_dispatch' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Attest ${{ matrix.type }} image
        if: github.event_name == 'workflow_dispatch'
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true